@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    font-family: "Raleway", sans-serif;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header"
        "seccion-1"
        "seccion-2"
        "seccion-3"
        "seccion-4"
        "seccion-5"
        "footer";
}

header {
    background: linear-gradient(to top right, #303354e7), url(../assets/images/Layer\ 34.png);
    padding: 0 15rem;
    grid-area: header;

    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 2rem 0;
        border-bottom: 2px solid #4F516A;

        ul {
            display: grid;
            list-style: none;
            align-items: center;
            justify-content: flex-end;
            grid-template-columns: repeat(5, auto);
            column-gap: 3rem;

            a {
                color: #C4C6D2;
                font-weight: 600;
                text-decoration: none;
                font-size: 0.9rem;
            }
        }
    }

    .principal {
        padding: 10rem 0;
        text-align: center;

        h1 {
            color: white;
            font-size: 4rem;
        }

        p {
            padding-top: 1rem;
            color: white;
        }

        button {
            border: none;
            background-color: #E84546;
            padding: 0.7rem 1.5rem;
            color: white;
            margin-top: 4rem;
            font-family: "Open Sans", sans-serif;
        }
    }
}

.seccion-1 {
    grid-area: seccion-1;
    padding: 6rem 15rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;

    .titulo {
        font-weight: 700;
        color: #2d3033;
        padding: 1.7rem 0;
    }

    .parrafo {
        color: #6c7279;
    }
}

.seccion-2 {
    grid-area: seccion-2;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0.1rem;

    .imagen {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .imagen-especial {
        position: relative;

        .texto {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: #e84545e7;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;

            .titulo-2 {
                font-weight: 700;
                padding-bottom: 0.5rem;
            }
        }
    }
}

.seccion-3 {
    grid-area: seccion-3;
    padding: 6rem 15rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;

    .tarjetas {
        .img-persona {
            width: 100%;
            padding-bottom: 1.5rem;
        }

        .titulo {
            font-size: 1.2rem;
            padding-bottom: 0.3rem;
            color: #2d3033;
            font-weight: 400;
        }

        .subtitulo {
            font-size: 0.9rem;
            color: #E84546;
            font-weight: 500;
        }

        .parrafo {
            color: #6c7279;
            padding: 1.5rem 0;
        }

        .links {
            img {
                padding: 0.6rem;
                width: 2.5rem;
                height: 2.5rem;
                object-fit: contain;
                border: 1px solid #e8ecee;
            }
        }
    }
}

.seccion-4 {
    grid-area: seccion-4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    img {
        width: 100%;
    }

    .info {
        padding: 4rem;
        background-color: #523549;
        height: 100%;
        align-content: center;
        color: white;

        h2 {
            font-size: 2rem;
            font-weight: 100;
            width: 60%;
            font-family: "Cardo", serif;
            padding-bottom: 1.5rem;
        }

        .autor {
            font-size: 0.8rem;
            font-weight: 600;
            padding-bottom: 3rem;
        }

        .puntos {
            text-align: center;
            width: 60%;
            font-size: 0.7rem;

            .especial {
                color: #755E6E;
            }

            i {
                margin: 0 0.1rem;
            }
        }
    }
}

.seccion-5 {
    grid-area: seccion-5;
    padding: 6rem 15rem;
    text-align: center;

    h3 {
        font-size: 2rem;
        font-weight: 300;
        padding-bottom: 1.5rem;
        color: #2d3033;
    }

    .subtitulo {
        color: #2d3033;
        font-size: 0.8rem;
        font-weight: 700;
    }

    button {
        border: none;
        background-color: #E84546;
        padding: 0.7rem 1.5rem;
        color: white;
        margin-top: 2rem;
        font-family: "Open Sans", sans-serif;
    }

}

footer {
    grid-area: footer;

    .footer-1 {
        background-color: #3A3E63;
        padding: 6rem 16rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        color: white;

        .informacion {
            h4 {
                padding-bottom: 1.5rem;
            }

            p {
                color: #9A9EBB;
            }
            .ubicacion{
                padding-bottom: 0.5rem;
            }

            .imagenes {
                img {
                    padding: 0.6rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    object-fit: contain;
                    border: 2px solid #e8ecee;
                }
            }
        }
    }

    .footer-2 {
        background-color: #313455;
        padding: 2rem;
        text-align: center;
        p{
            color: #8A8F93;
            i{
                color: #E54247;
            }

            span{
                color: white;
            }
        }
    }
}